
<main class="container mx-auto col-start-5 grid justify-items-stretch my-40 col-end-10">
    <div class="generalProfile grid grid-cols-3 m-5 border-double border-8 border-slate-50">
        <!-- Set up object -->
        <div class="profileName col-start-1 col-end-4 flex justify-center pt-4 pb-4">Duchess's Profile</div>
        <div class="col-start-1 col-end-3 flex justify-center border-t-2 border-slate-50 ms-6 pt-1">Total Skill Level
        </div>
        <!-- Set up object -->
        <div class="flex justify-center border-t-2 border-slate-50 me-6 pt-1">??</div>
        <div class="col-start-1 col-end-3 flex justify-center border-t-2 border-slate-50 ms-6 pt-1">Total XP</div>
        <!-- Set up object -->
        <div class="flex justify-center border-t-2 border-slate-50 me-6 pt-1">??</div>
        <div class="col-start-1 col-end-3 flex justify-center border-t-2 border-slate-50 ms-6 pt-1">Account Age </div>
        <!-- Set up object -->
        <div class="flex justify-center border-t-2 border-slate-50 me-6 pt-1">??</div>
    </div>
</main>