<section class="container mx-auto col-start-3 grid justify-items-stretch col-end-12 h-screen" id="oldNode">
    <div class="grid grid-cols-9 grid-rows-6">
        <div class="xpBar col-start-1 col-end-10 h-24 row start 1 flex justify-center items-center m-4">
            <label class="woodcuttingXPName mr-1" for="treeXP">(69) Woodcutting XP:</label>
            <progress class="treeXPBar w-2/3 h-6 rounded-lg" id="treeXP" value="98" max="100" data-label="3901/4000XP">
                98% Woodcutting XP</progress>
        </div>

        <div class="woodcuttingCards flex flex-wrap justify-center col-start-1 col-end-10 row-start-2 row-end-7">

            <div class="woodcuttingCard flex justify-center h-80 self-center m-4">
                <div class="insideWoodcuttingCards">
                    <div class="treeText flex shrink justify-center">Tree</div>
                    <div>
                        <img class="treeImage border-4 border-white rounded-full m-4"
                            src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/db21b3bc-8d2c-40ed-b627-0f9cdfe340b6/ddp8kr0-ede82974-6bb9-4469-b1cb-7c0f6f5d2902.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2RiMjFiM2JjLThkMmMtNDBlZC1iNjI3LTBmOWNkZmUzNDBiNlwvZGRwOGtyMC1lZGU4Mjk3NC02YmI5LTQ0NjktYjFjYi03YzBmNmY1ZDI5MDIuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.eWBS6G3TnHeg0UaujtN1xrYnlDm8evusa4v46ja3KZU"
                            alt="image-description" width="200" height="200">
                    </div>
                    <div class="percentText flex justify-center mt-2">0% DONE</div>
                </div>
            </div>

            <div class="woodcuttingCard flex justify-center h-80 self-center m-4">
                <div class="insideWoodcuttingCards">
                    <div class="treeText flex shrink justify-center">Tree</div>
                    <div>
                        <img class="treeImage border-4 border-white rounded-full m-4"
                            src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/db21b3bc-8d2c-40ed-b627-0f9cdfe340b6/ddp8kr0-ede82974-6bb9-4469-b1cb-7c0f6f5d2902.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2RiMjFiM2JjLThkMmMtNDBlZC1iNjI3LTBmOWNkZmUzNDBiNlwvZGRwOGtyMC1lZGU4Mjk3NC02YmI5LTQ0NjktYjFjYi03YzBmNmY1ZDI5MDIuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.eWBS6G3TnHeg0UaujtN1xrYnlDm8evusa4v46ja3KZU"
                            alt="image-description" width="200" height="200">
                    </div>
                    <div class="percentText flex justify-center mt-2">0% DONE</div>
                </div>
            </div>

            <div class="woodcuttingCard flex justify-center h-80 self-center m-4">
                <div class="insideWoodcuttingCards">
                    <div class="treeText flex shrink justify-center">Tree</div>
                    <div>
                        <img class="treeImage border-4 border-white rounded-full m-4"
                            src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/db21b3bc-8d2c-40ed-b627-0f9cdfe340b6/ddp8kr0-ede82974-6bb9-4469-b1cb-7c0f6f5d2902.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2RiMjFiM2JjLThkMmMtNDBlZC1iNjI3LTBmOWNkZmUzNDBiNlwvZGRwOGtyMC1lZGU4Mjk3NC02YmI5LTQ0NjktYjFjYi03YzBmNmY1ZDI5MDIuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.eWBS6G3TnHeg0UaujtN1xrYnlDm8evusa4v46ja3KZU"
                            alt="image-description" width="200" height="200">
                    </div>
                    <div class="percentText flex justify-center mt-2">0% DONE</div>
                </div>
            </div>

            <div class="woodcuttingCard flex justify-center h-80 self-center m-4">
                <div class="insideWoodcuttingCards">
                    <div class="treeText flex shrink justify-center">Tree</div>
                    <div>
                        <img class="treeImage border-4 border-white rounded-full m-4"
                            src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/db21b3bc-8d2c-40ed-b627-0f9cdfe340b6/ddp8kr0-ede82974-6bb9-4469-b1cb-7c0f6f5d2902.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2RiMjFiM2JjLThkMmMtNDBlZC1iNjI3LTBmOWNkZmUzNDBiNlwvZGRwOGtyMC1lZGU4Mjk3NC02YmI5LTQ0NjktYjFjYi03YzBmNmY1ZDI5MDIuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.eWBS6G3TnHeg0UaujtN1xrYnlDm8evusa4v46ja3KZU"
                            alt="image-description" width="200" height="200">
                    </div>
                    <div class="percentText flex justify-center mt-2">0% DONE</div>
                </div>
            </div>

            <div class="woodcuttingCard flex justify-center h-80 self-center m-4">
                <div class="insideWoodcuttingCards">
                    <div class="treeText flex shrink justify-center">Tree</div>
                    <div>
                        <img class="treeImage border-4 border-white rounded-full m-4"
                            src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/db21b3bc-8d2c-40ed-b627-0f9cdfe340b6/ddp8kr0-ede82974-6bb9-4469-b1cb-7c0f6f5d2902.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2RiMjFiM2JjLThkMmMtNDBlZC1iNjI3LTBmOWNkZmUzNDBiNlwvZGRwOGtyMC1lZGU4Mjk3NC02YmI5LTQ0NjktYjFjYi03YzBmNmY1ZDI5MDIuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.eWBS6G3TnHeg0UaujtN1xrYnlDm8evusa4v46ja3KZU"
                            alt="image-description" width="200" height="200">
                    </div>
                    <div class="percentText flex justify-center mt-2">0% DONE</div>
                </div>
            </div>

            <div class="woodcuttingCard flex justify-center h-80 self-center m-4">
                <div class="insideWoodcuttingCards">
                    <div class="treeText flex shrink justify-center">Tree</div>
                    <div>
                        <img class="treeImage border-4 border-white rounded-full m-4"
                            src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/db21b3bc-8d2c-40ed-b627-0f9cdfe340b6/ddp8kr0-ede82974-6bb9-4469-b1cb-7c0f6f5d2902.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2RiMjFiM2JjLThkMmMtNDBlZC1iNjI3LTBmOWNkZmUzNDBiNlwvZGRwOGtyMC1lZGU4Mjk3NC02YmI5LTQ0NjktYjFjYi03YzBmNmY1ZDI5MDIuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.eWBS6G3TnHeg0UaujtN1xrYnlDm8evusa4v46ja3KZU"
                            alt="image-description" width="200" height="200">
                    </div>
                    <div class="percentText flex justify-center mt-2">0% DONE</div>
                </div>
            </div>

            <div class="woodcuttingCard flex justify-center h-80 self-center m-4">
                <div class="insideWoodcuttingCards">
                    <div class="treeText flex shrink justify-center">Tree</div>
                    <div>
                        <img class="treeImage border-4 border-white rounded-full m-4"
                            src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/db21b3bc-8d2c-40ed-b627-0f9cdfe340b6/ddp8kr0-ede82974-6bb9-4469-b1cb-7c0f6f5d2902.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2RiMjFiM2JjLThkMmMtNDBlZC1iNjI3LTBmOWNkZmUzNDBiNlwvZGRwOGtyMC1lZGU4Mjk3NC02YmI5LTQ0NjktYjFjYi03YzBmNmY1ZDI5MDIuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.eWBS6G3TnHeg0UaujtN1xrYnlDm8evusa4v46ja3KZU"
                            alt="image-description" width="200" height="200">
                    </div>
                    <div class="percentText flex justify-center mt-2">0% DONE</div>
                </div>
            </div>

            <div class="woodcuttingCard flex justify-center h-80 self-center m-4">
                <div class="insideWoodcuttingCards">
                    <div class="treeText flex shrink justify-center">Tree</div>
                    <div>
                        <img class="treeImage border-4 border-white rounded-full m-4"
                            src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/db21b3bc-8d2c-40ed-b627-0f9cdfe340b6/ddp8kr0-ede82974-6bb9-4469-b1cb-7c0f6f5d2902.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2RiMjFiM2JjLThkMmMtNDBlZC1iNjI3LTBmOWNkZmUzNDBiNlwvZGRwOGtyMC1lZGU4Mjk3NC02YmI5LTQ0NjktYjFjYi03YzBmNmY1ZDI5MDIuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.eWBS6G3TnHeg0UaujtN1xrYnlDm8evusa4v46ja3KZU"
                            alt="image-description" width="200" height="200">
                    </div>
                    <div class="percentText flex justify-center mt-2">0% DONE</div>
                </div>
            </div>

            <div class="woodcuttingCard flex justify-center h-80 self-center m-4">
                <div class="insideWoodcuttingCards">
                    <div class="treeText flex shrink justify-center">Tree</div>
                    <div>
                        <img class="treeImage border-4 border-white rounded-full m-4"
                            src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/db21b3bc-8d2c-40ed-b627-0f9cdfe340b6/ddp8kr0-ede82974-6bb9-4469-b1cb-7c0f6f5d2902.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2RiMjFiM2JjLThkMmMtNDBlZC1iNjI3LTBmOWNkZmUzNDBiNlwvZGRwOGtyMC1lZGU4Mjk3NC02YmI5LTQ0NjktYjFjYi03YzBmNmY1ZDI5MDIuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.eWBS6G3TnHeg0UaujtN1xrYnlDm8evusa4v46ja3KZU"
                            alt="image-description" width="200" height="200">
                    </div>
                    <div class="percentText flex justify-center mt-2">0% DONE</div>
                </div>
            </div>

        </div>
    </div>
    </div>
</section>