<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lorem Idle</title>
  <link rel="stylesheet" href="/lorem-idle/public/css/input.css">
</head>

<body>
  <aside>
    <h1>Lorem Ipsum</h1>
  </aside>
</body>

</html>
