{{> sidebar}}

<main class="container mx-auto col-start-3 grid justify-items-stretch col-end-12 h-screen">
    <div class="grid grid-cols-9 grid-rows-6">
        <!-- insert object here -->
        <div class="backpackHeader col-start-1 col-end-10 row start 1 flex justify-center items-center m-4">Duchess's
            Backpack</div>
        <div class="inventoryCards flex flex-wrap justify-center col-start-1 col-end-10 row-start-2 row-end-7">

            <div class="inventoryCard flex justify-center  self-center m-2">
                <div class="insideinventoryCards">
                    <div class="axeName flex  justify-center p-3 px-6">Iron Axe</div>
                    <div class="flex justify-center m-1">
                        <img class="ironAxePic" src="https://art.pixilart.com/923cc3b26a6afb5.png"
                            alt="image-description" width="40" height="40">
                    </div>
                    <div class="axeSpeed flex justify-center">Speed: 80%</div>
                    <div class="axeGold flex justify-center">Gold: 80gp</div>
                </div>
            </div>
            <div class="inventoryCard flex justify-center  self-center m-2">
                <div class="insideinventoryCards">
                    <div class="axeName flex  justify-center p-3 px-6">Iron Axe</div>
                    <div class="flex justify-center m-1">
                        <img class="ironAxePic" src="https://art.pixilart.com/923cc3b26a6afb5.png"
                            alt="image-description" width="40" height="40">
                    </div>
                    <div class="axeSpeed flex justify-center">Speed: 80%</div>
                    <div class="axeGold flex justify-center">Gold: 80gp</div>
                </div>
            </div>
            <div class="inventoryCard flex justify-center  self-center m-2">
                <div class="insideinventoryCards">
                    <div class="axeName flex  justify-center p-3 px-6">Iron Axe</div>
                    <div class="flex justify-center m-1">
                        <img class="ironAxePic" src="https://art.pixilart.com/923cc3b26a6afb5.png"
                            alt="image-description" width="40" height="40">
                    </div>
                    <div class="axeSpeed flex justify-center">Speed: 80%</div>
                    <div class="axeGold flex justify-center">Gold: 80gp</div>
                </div>
            </div>
            <div class="inventoryCard flex justify-center  self-center m-2">
                <div class="insideinventoryCards">
                    <div class="axeName flex  justify-center p-3 px-6">Iron Axe</div>
                    <div class="flex justify-center m-1">
                        <img class="ironAxePic" src="https://art.pixilart.com/923cc3b26a6afb5.png"
                            alt="image-description" width="40" height="40">
                    </div>
                    <div class="axeSpeed flex justify-center">Speed: 80%</div>
                    <div class="axeGold flex justify-center">Gold: 80gp</div>
                </div>
            </div>
            <div class="inventoryCard flex justify-center  self-center m-2">
                <div class="insideinventoryCards">
                    <div class="axeName flex  justify-center p-3 px-6">Iron Axe</div>
                    <div class="flex justify-center m-1">
                        <img class="ironAxePic" src="https://art.pixilart.com/923cc3b26a6afb5.png"
                            alt="image-description" width="40" height="40">
                    </div>
                    <div class="axeSpeed flex justify-center">Speed: 80%</div>
                    <div class="axeGold flex justify-center">Gold: 80gp</div>
                </div>
            </div>
            <div class="inventoryCard flex justify-center  self-center m-2">
                <div class="insideinventoryCards">
                    <div class="axeName flex  justify-center p-3 px-6">Iron Axe</div>
                    <div class="flex justify-center m-1">
                        <img class="ironAxePic" src="https://art.pixilart.com/923cc3b26a6afb5.png"
                            alt="image-description" width="40" height="40">
                    </div>
                    <div class="axeSpeed flex justify-center">Speed: 80%</div>
                    <div class="axeGold flex justify-center">Gold: 80gp</div>
                </div>
            </div>
            <div class="inventoryCard flex justify-center  self-center m-2">
                <div class="insideinventoryCards">
                    <div class="axeName flex  justify-center p-3 px-6">Iron Axe</div>
                    <div class="flex justify-center m-1">
                        <img class="ironAxePic" src="https://art.pixilart.com/923cc3b26a6afb5.png"
                            alt="image-description" width="40" height="40">
                    </div>
                    <div class="axeSpeed flex justify-center">Speed: 80%</div>
                    <div class="axeGold flex justify-center">Gold: 80gp</div>
                </div>
            </div>
            <div class="inventoryCard flex justify-center  self-center m-2">
                <div class="insideinventoryCards">
                    <div class="axeName flex  justify-center p-3 px-6">Iron Axe</div>
                    <div class="flex justify-center m-1">
                        <img class="ironAxePic" src="https://art.pixilart.com/923cc3b26a6afb5.png"
                            alt="image-description" width="40" height="40">
                    </div>
                    <div class="axeSpeed flex justify-center">Speed: 80%</div>
                    <div class="axeGold flex justify-center">Gold: 80gp</div>
                </div>
            </div>
            <div class="inventoryCard flex justify-center  self-center m-2">
                <div class="insideinventoryCards">
                    <div class="axeName flex  justify-center p-3 px-6">Iron Axe</div>
                    <div class="flex justify-center m-1">
                        <img class="ironAxePic" src="https://art.pixilart.com/923cc3b26a6afb5.png"
                            alt="image-description" width="40" height="40">
                    </div>
                    <div class="axeSpeed flex justify-center">Speed: 80%</div>
                    <div class="axeGold flex justify-center">Gold: 80gp</div>
                </div>
            </div>
            <div class="inventoryCard flex justify-center  self-center m-2">
                <div class="insideinventoryCards">
                    <div class="axeName flex  justify-center p-3 px-6">Iron Axe</div>
                    <div class="flex justify-center m-1">
                        <img class="ironAxePic" src="https://art.pixilart.com/923cc3b26a6afb5.png"
                            alt="image-description" width="40" height="40">
                    </div>
                    <div class="axeSpeed flex justify-center">Speed: 80%</div>
                    <div class="axeGold flex justify-center">Gold: 80gp</div>
                </div>
            </div>
            <div class="inventoryCard flex justify-center  self-center m-2">
                <div class="insideinventoryCards">
                    <div class="axeName flex  justify-center p-3 px-6">Iron Axe</div>
                    <div class="flex justify-center m-1">
                        <img class="ironAxePic" src="https://art.pixilart.com/923cc3b26a6afb5.png"
                            alt="image-description" width="40" height="40">
                    </div>
                    <div class="axeSpeed flex justify-center">Speed: 80%</div>
                    <div class="axeGold flex justify-center">Gold: 80gp</div>
                </div>
            </div>
            <div class="inventoryCard flex justify-center  self-center m-2">
                <div class="insideinventoryCards">
                    <div class="axeName flex  justify-center p-3 px-6">Iron Axe</div>
                    <div class="flex justify-center m-1">
                        <img class="ironAxePic" src="https://art.pixilart.com/923cc3b26a6afb5.png"
                            alt="image-description" width="40" height="40">
                    </div>
                    <div class="axeSpeed flex justify-center">Speed: 80%</div>
                    <div class="axeGold flex justify-center">Gold: 80gp</div>
                </div>
            </div>
            <div class="inventoryCard flex justify-center  self-center m-2">
                <div class="insideinventoryCards">
                    <div class="axeName flex  justify-center p-3 px-6">Iron Axe</div>
                    <div class="flex justify-center m-1">
                        <img class="ironAxePic" src="https://art.pixilart.com/923cc3b26a6afb5.png"
                            alt="image-description" width="40" height="40">
                    </div>
                    <div class="axeSpeed flex justify-center">Speed: 80%</div>
                    <div class="axeGold flex justify-center">Gold: 80gp</div>
                </div>
            </div>
            <div class="inventoryCard flex justify-center  self-center m-2">
                <div class="insideinventoryCards">
                    <div class="axeName flex  justify-center p-3 px-6">Iron Axe</div>
                    <div class="flex justify-center m-1">
                        <img class="ironAxePic" src="https://art.pixilart.com/923cc3b26a6afb5.png"
                            alt="image-description" width="40" height="40">
                    </div>
                    <div class="axeSpeed flex justify-center">Speed: 80%</div>
                    <div class="axeGold flex justify-center">Gold: 80gp</div>
                </div>
            </div>


        </div>
    </div>
    </div>
</main>