<aside class="aside col-span-2 h-screen border-double border-r-4 border-slate-50">
    <div class="container mx-auto">
        <img class="logo ml-1" src="https://cdn.discordapp.com/attachments/1104109106660380773/1106400779176247396/LoremLogo.png">
        <!-- Put object below -->
        <h2 class="subtitle text-2xl flex justify-center pt-4">{{username}}</h2>
        <div>
            <div class="player ms-5 ps-2 me-5 border-b-4 pt-6">Player</div>
            <div>
                <button id="profile-btn" class="profile  inline-flex items-center p-1 gap-1 "><span class="container">
                        <img class="profileImg" src="https://media.tenor.com/m8ueXkOZi7UAAAAj/sticker-gmail.gif"
                            alt="image-description" width="20" height="20">
                    </span>Profile</button>
            </div>
            <div>
                <button id="backpack-btn" class="backpack inline-flex items-center p-1 gap-1"><span class="container">
                        <img class="backpackImg"
                            src="https://cdna.artstation.com/p/assets/images/images/012/471/678/original/austin-lutz-backpack-turnaround.gif?1534960441"
                            alt="image-description" width="20" height="20">
                    </span>Backpack</button>
            </div>
            <div>
                <button id="shop-btn" class="shop inline-flex items-center p-1 gap-1"><span class="container">
                        <img class="shopImg"
                            src="https://png.pngtree.com/png-vector/20220828/ourmid/pngtree-pixel-art-shop-icon-design-vector-png-image_6125107.png"
                            alt="image-description" width="20" height="20">
                    </span>Shop</button>
            </div>
        </div>
        <div>
            <div class="skills ms-5 ps-2 me-5 border-b-4 pt-4">Skills</div>
            <div>
                <button id="woodcutting-btn" class="woodcutting inline-flex items-center p-1 gap-1"><span class="container">
                        <img class="woodcuttingImg"
                            src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/db21b3bc-8d2c-40ed-b627-0f9cdfe340b6/ddp8kr0-ede82974-6bb9-4469-b1cb-7c0f6f5d2902.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2RiMjFiM2JjLThkMmMtNDBlZC1iNjI3LTBmOWNkZmUzNDBiNlwvZGRwOGtyMC1lZGU4Mjk3NC02YmI5LTQ0NjktYjFjYi03YzBmNmY1ZDI5MDIuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.eWBS6G3TnHeg0UaujtN1xrYnlDm8evusa4v46ja3KZU"
                            alt="image-description" width="20" height="20">
                    </span>Woodcutting</button>
            </div>
            <div>
                <button id="fishing-btn" class="fishing inline-flex items-center p-1 gap-1"><span class="container">
                        <img class="fishingImg"
                            src="https://i.pinimg.com/originals/b2/40/05/b24005333b8d0bf9391096f573ce4b4e.gif"
                            alt="image-description" width="20" height="20">
                    </span>Fishing</button>
            </div>

        </div>
    </div>
</aside>

<section class="container mx-auto col-start-5 grid justify-items-stretch my-40 col-end-10" id="oldNode">
    <div class="generalProfile grid grid-cols-3 m-5 border-double border-8 border-slate-50">
        <h1>Welcome, {{username}}</h1>
        <p>Thank you for for signing in to Lorem Idle. Let's get started!</p>
    </div>
</section>


<script src="./js/home.js"></script>