<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lorem Idle</title>
    <style>
        body {
            font-family: brush script mt, cursive;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            margin: 0;
            background-color: #f0f0f0;
            background-image: url("https://preview.redd.it/sltql5d9i1891.png?auto=webp&s=d2e8e57c625e2800904ddb5045727776e3159195");
            background-size: cover; 
            background-position: center; 
        }
        .card {
            background-color: #263142;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            padding: 20px;
            width: 300px;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <h1>Lorem Idle</h1>
    <div class="card">
        <h2>Welcome to Lorem Idle!</h2>
        <p>Please sign in below to begin playing our idle game.</p>
        <h3>Create User</h3>
        <form class="form login-form">
            <div class="form-group">
              <label for="username-login">Username</label>
              <input class="form-input" type="text" id="username-login" />
            </div>
            <div class="form-group">
              <label for="password-login">password:</label>
              <input class="form-input" type="password" id="password-login" />
            </div>
            <div class="form-group">
              <button class="btn btn-primary" type="submit">login</button>
            </div>
          </form>
        </div>
        <div class="col-md-6">
          <h2>Signup</h2>

          <form class="form signup-form">
            <div class="form-group">
              <label for="username-signup">name:</label>
              <input class="form-input" type="text" id="username-signup" />
            </div>
            <div class="form-group">
              <label for="email-signup">email:</label>
              <input class="form-input" type="text" id="email-signup" />
            </div>
            <div class="form-group">
              <label for="password-signup">password:</label>
              <input class="form-input" type="password" id="password-signup" />
            </div>
            <div class="form-group">
              <button class="btn btn-primary" type="submit">signup</button>
            </div>
        </form>
    </div>
</body>

<script src="./js/login.js"></script> 
{{!-- Adding comment to commit and merge to main --}}
</html>
