<main class="container mx-auto col-start-5 grid justify-items-stretch my-40 col-end-10">
    <div class="generalProfile grid grid-cols-3 m-5 border-double border-8 border-slate-50">
        <h1>Welcome, {{username}}</h1>
        <p>Thank you for for signing in to Lorem Idle. Let's get started!</p>
    </div>
</main>