@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --text: #FFFFFF;
    --menubackground: #263142f1;
    --menubackgroundsolid: #1c2430;
    --menubackgroundtext: #A6A6A6;
    --menubackgrounddark: #171d27;
    --gold: #d4c274c0;
    --goldsolid: #d4c274ec;
    --hovercolor: #FFDE59;
    --complete: rgb(3, 227, 18);
    --black: #000000;
    --Charcoal: #465362;
    --red: #550414c9;
    --green: #C2EABD;
    --font1: 'MedievalSharp', cursive;
    --font2: 'Almendra SC', serif;
}

.aside {
    background-color: var(--menubackgroundsolid);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    align-self: flex-start;
}

body {
    background-image: url("https://preview.redd.it/sltql5d9i1891.png?auto=webp&s=d2e8e57c625e2800904ddb5045727776e3159195");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-y: center;
}

.profileImg {
    transform: scale(.75);
}

.backpackImg {
    transform: scale(1.5);
}

.shopImg {
    transform: scale(1.5);
}

.aside {
    color: var(--text);
    font-family: var(--font1);
}

.title {
    color: var(--menubackground);
    font-size: 40px;
    font-family: var(--font2);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.subtitle {
    font-family: var(--font2);
}

.player,
.skills {
    color: var(--menubackgroundtext);
    border-color: var(--menubackgroundtext);
    font-family: var(--font1);
    font-size: 20px;
}

.profile,
.backpack,
.woodcutting,
.fishing {
    font-size: 16px;
}

.profile:hover,
.backpack:hover,
.shop:hover,
.woodcutting:hover,
.fishing:hover {
    color: var(--hovercolor);
}

.profile:active,
.backpack:active,
.shop:active,
.woodcutting:active,
.fishing:active {
    color: var(--hovercolor);
    text-shadow: 1px 1px 5px var(--menubackgroundtext);
    font-size: 15px;
}

.generalProfile,
.backpackContainer {
    background-color: var(--menubackground);
    color: white;
    font-family: var(--font1);
}

.profileName {
    font-size: 25px;
    font-family: var(--font2);
}

.userBackpack {
    font-size: 30px;
    font-family: var(--font2);
    color: var();
}

.axeName {
    font-size: 20px;
    background-color: var(--menubackgrounddark);
    color: var(--text);
    font-family: var(--font1);
}

.axeSpeed,
.axeGold {
    font-size: 14px;
    color: var(--text);
    font-family: var(--font1);
}

.xpBar {
    background-color: var(--menubackground);
    border: 3px solid var(--menubackgroundsolid);
}

progress {
    text-align: center;
    height: 1.5em;
    width: 100%;
    -webkit-appearance: none;
    border: none;

    /* Set the progressbar to relative */
    position: relative;
}

progress:before {
    content: attr(data-label);
    font-size: 16px;
    vertical-align: 0;
    font-family: var(--font2);
    color: var(--menubackgroundsolid);
    /*Position text over the progress bar */
    position: absolute;
    left: 0;
    right: 0;
}

progress::-webkit-progress-bar {
    background-color: var(--menubackgroundtext);
}

progress::-webkit-progress-value {
    background-image: linear-gradient(to right, rgba(41, 162, 1, 0.648), rgb(60, 255, 0), rgba(41, 162, 1, 0.648))
}

progress::-moz-progress-bar {
    background-color: var(--complete);
}

.backpackHeader {
    background-color: var(--menubackground);
    border: 3px solid var(--menubackgroundsolid);
    color: var(--text);
    font-family: var(--font2);
    font-size: 25px;
}

.woodcuttingXPName {
    color: var(--text);
    font-family: var(--font2);
    font-size: 25px;
}

.nextBar {
    position: absolute;
    color: var(--text);
    background-color: var(--menubackground);
    font-size: 25px;
    top: calc(50% - (25px / 2));
    right: 0;
    border: 3px double var(--text);
}

.previousBar {
    position: absolute;
    color: var(--text);
    background-color: var(--menubackground);
    font-size: 25px;
    top: calc(50% - (25px / 2));
    /* Center vertically */
    left: 19%;
    /* Position on the left side */
    border: 3px double var(--text);
}


.insideWoodcuttingCards,
.insideinventoryCards {
    background-color: var(--menubackground);
    border: 3px solid var(--menubackgroundsolid);
}

.treeText {
    color: var(--text);
    font-family: var(--font1);
    font-size: 30px;
}

.percentText {
    color: var(--text);
    font-family: var(--font1);
    font-size: 20px;
}

.percentTextComplete {
    color: var(--complete);
    font-family: var(--font1);
    font-size: 20px;
}

@keyframes growProgressBar {

    0%,
    33% {
        --pgPercentage: 0;
    }

    100% {
        --pgPercentage: var(--value);
    }
}

@property --pgPercentage {
    syntax: '<number>';
    inherits: false;
    initial-value: 0;
}

div[role="progressbar"] {
    --size: 15rem;
    --fg: rgb(3, 227, 18);
    --bg: #A6A6A6;
    --pgPercentage: rgba(221, 238, 255, 0);
    animation: growProgressBar 3s 1 forwards;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: grid;
    place-items: center;
    background:
        radial-gradient(closest-side, #1c2430 90%, transparent 0 99.9%, #1c2430 0),
        conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
    font-family: Helvetica, Arial, sans-serif;
    font-size: calc(var(--size) / 5);
    color: #1c243000;
}

div[role="progressbar"]::before {
    counter-reset: percentage var(--value);
    content: counter(percentage) '%';
}

.signInPage {
    background-color: var(--menubackground);
    color: var(--text);
    font-family: var(--font2);
    border: 3px double var(--text);
}

.welcomeTitle {
    color: var(--menubackground);
    font-size: 50px;
    font-family: var(--font2);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.welcomeSubTitle {
    font-size: 20px;
}

.signUpSubtitles {
    font-size: 25px;
}

.form-input {
    background-color: var(--menubackgroundsolid);
    border: 1px solid var(--text);
}

.form-input:hover {
    border: 1px solid var(--hovercolor);
}

.form-input:active {
    color: var(--hovercolor);
    border: 1px solid var(--hovercolor);
}

.password-focused {
    color: var(--hovercolor);
}

.username-focused, .email-focused, .name-focused, .pswrd-focused {
    color: var(--hovercolor);
  }
  
.loginButton {
    background-color: var(--menubackgroundsolid);
    border: 2px double var(--text);
}

.loginButton:hover {
    color: var(--hovercolor);
    border: 2px double var(--hovercolor);
}