:root {
    --text: #FFFFFF;
    --menubackground: #263142f1;
    --menubackgroundsolid: #263142;
    --menubackgroundtext: #A6A6A6;
    --hovercolor: #FFDE59;
    --black: #000000;
    --font1: 'MedievalSharp', cursive;
    --font2: 'Almendra SC', serif;
}

.aside{
    background-color: var(--menubackground);
}

body {
    background-image: url("https://preview.redd.it/sltql5d9i1891.png?auto=webp&s=d2e8e57c625e2800904ddb5045727776e3159195");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-y: center;
}

.profileImg {
    transform: scale(.75);
}

.backpackImg {
    transform: scale(1.5);
}

.aside {
    color: var(--text);
    font-family: var(--font1);
}

.title{
    color: var(--menubackground);
	font-size: 40px;
    font-family: var(--font2);
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.subtitle{
    font-family: var(--font2);
}

.player,
.skills {
    color: var(--menubackgroundtext);
    border-color: var(--menubackgroundtext);
    font-family: var(--font1);
    font-size: 20px;
}

.profile,
.backpack,
.woodcutting,
.fishing {
    font-size: 16px;
}

.profile:hover,
.backpack:hover,
.woodcutting:hover,
.fishing:hover {
    color: var(--hovercolor);
}

.profile:active,
.backpack:active,
.woodcutting:active,
.fishing:active {
    color: var(--hovercolor);
    text-shadow: 1px 1px 5px var(--menubackgroundtext);
    font-size: 15px;
}

.generalProfile {
    background-color: var(--menubackground);
    color: white;
    font-family: var(--font1); 
}

.profileName {
    font-size: 25px;
    font-family: var(--font2);
}
